<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Rejeter un enregistrement</div>
        <button
            mat-icon-button
            (click)="close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'">
            </mat-icon>
        </button>
    </div>
    <!-- Compose form -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" >
        
        <mat-form-field appearance="fill">
            <mat-label>Motif</mat-label>
            <mat-select required>
                <mat-option value="1">Motif 1</mat-option>
                <mat-option value="2">Motif 2</mat-option>
                <mat-option value="3">Motif 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="fuse-mat-textarea flex-auto">
            <mat-label>Observation</mat-label>
            <textarea
                matInput
                [rows]="3"></textarea>
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
        </mat-form-field>
        
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="flex items-center mt-4 sm:mt-0">
                <button
                    class="ml-auto sm:ml-0"
                    mat-stroked-button
                    mat-dialog-close>
                    Retour
                </button>
                <button
                    class="order-first md:order-last"
                    mat-flat-button
                    [color]="'warn'"
                    >
                    Rejeter
                </button>
            </div>
        </div>
    </form>
</div>
