// @import "src/@fuse/scss/fuse";

app-utilisateur{

    .inventory-grid {
        grid-template-columns: auto 240px 50px 120px 70px 48px;

        @screen sm {
            grid-template-columns: auto 240px 50px 120px 70px 48px;
        }

        @screen md {
            grid-template-columns: auto 240px 50px 120px 70px 48px;
        }

        @screen lg {
            grid-template-columns: auto 340px 90px 220px 100px 48px;
        }
    }
}
